<div class="industry">
  <div class="row">
    <div class="col-md-3 col-md-offset-5 ">
        <h1> Our work</h1>
    </div>
  </div>

  <div class="row">
      <div class="col-md-2 col-md-offset-2 border"> </div>
      <div class="col-md-2 border"> </div>
      <div class="col-md-2 border"> </div>
      <div class="col-md-2 border"> </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 border">
       <h2>We love what we do, and we strive to provide the best services for our clients. The aim is to become part of your team, and with the help of our developers and designers create meaningful digital experiences.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-6">
      <button class="button button2">Blue</button>
    </div>
  </div>

</div>
