<div class="introduce">
   <div class="row">
     <div class="col-md-3 col-md-offset-5">
         <h2> our current work</h2>
     </div>
   </div>

   <div class="row">
      <div class="col-md-3 col-md-offset-2 bordertwo">  </div>
      <div class="col-md-3 bordertwo">  </div>
      <div class="col-md-3 bordertwo">  </div>
   </div>

   <div class="row">
      <div class="col-md-6 col-md-offset-3 border">
          <h3>Some of our collaborations have been featured on TechCrunch, Mashable, Recode and Wired; incubated in Y Combinator and 500 Startups.</h3>
      </div>
   </div>
</div>
